.working {
    &__row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px 46px;
    }

    &__number {
        color: $black;
        font-weight: 900;
        font-size: 30px;
        line-height: 37px;
        margin-bottom: 20px;

        @media (max-width: 1020px) {
            font-size: 20px;
            line-height: 24px;
        }
    }

    &__tit {
        margin-bottom: 20px;

        @media (max-width: 1020px) {
            min-height: 40px;
        }

        h4 {
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;

            @media (max-width: 1020px) {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    &__description {
        p {
            font-size: 14px;
            line-height: 20px;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;

            @media (max-width: 1020px) {
                font-size: 13px;
            }
        }
    }

    .working--swiper-slide {
        @media (max-width: 1450px) {
            width: 450px;
        }

        @media (max-width: 1020px) {
            width: 270px;
        }
    }
}