.working {
    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 45px 0;
        position: relative;

        &::before {
            content: '';
            display: block;
            width: 8px;
            height: 222px;
            background: $green;
            position: absolute;
            right: 0;
            top: 69px;

            @media (max-width: 1450px) {
                display: none;
            }
        }
    }

    &__number {
        color: $black;
        font-weight: 700;
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 22px;
        height: 37px;

        @media (max-width: 1050px) {
            font-size: 16px;
            line-height: 20px;
        }

        span {
            font-weight: 900;
            font-size: 30px;
            line-height: 37px;
            margin-right: 10px;

            @media (max-width: 1020px) {
                font-size: 20px;
                line-height: 24px;
            }
        }

        @media (max-width: 1020px) {
            font-size: 14px;
            line-height: 17px;
        }
    }

    &__line {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        position: relative;

        &::before {
            content: '';
            display: block;
            width: calc(100% + 86px);
            height: 8px;
            background: $green;
            position: absolute;
            left: -43px;
        }

        &::after {
            content: '';
            display: block;
            width: 32px;
            height: 32px;
            border: 6px solid $green;
            background: #fff;
            position: relative;
            z-index: 2;
        }
    }

    &__tit {
        margin-bottom: 20px;

        @media (max-width: 1020px) {
            min-height: 40px;
        }

        h4 {
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;

            @media (max-width: 1020px) {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    &__description {
        p {
            font-size: 14px;
            line-height: 20px;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;

            @media (max-width: 1020px) {
                font-size: 13px;
            }
        }
    }

    .working--swiper-slide {
        width: 470px;
        padding: 0 43px;

        @media (max-width: 1450px) {
            width: 450px;
        }

        @media (max-width: 1020px) {
            width: 270px;
        }
    }

    .working--swiper-4 {
        order: 4;

        .working__line {
            &::before {
                width: 703px;
            }
        }


    }

    .working--swiper-5 {
        @media (max-width: 1450px) {
            order: 5;
        }
    }
}