.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: .3s all;
    background: $green;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    padding: 22px 54px;

    @media (max-width: 1020px) {
        height: 49px;
    }
    

    &:hover {
        box-shadow: 0px 6px 26px rgba(33, 150, 83, 0.25);
    }

    &:active,
    &:focus {
        background: $dark-green;
    }
}


.btn-disabled {
    background: #A7A7A7 !important;
    box-shadow: none !important;
}

button[disabled] {
    background: #A7A7A7 !important;
    box-shadow: none !important;
}