.certificate {
    margin-top: 57px;
    margin: 57px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;


    @media (max-width: 1020px) {
        margin-top: 47px;
    }

    @media (max-width: 720px) {
        margin-top: 32px;
    }

    .swiper-wrapper {
        margin: 0 auto;
        width: auto;
    }

    &__slide {
        width: 280px !important;
        transition: .3s all;
        
        &:last-child{
            margin-right: 0 !important;
        }

        @media (max-width: 1020px) {
            width: 184px !important;
        }

        @media (max-width: 520px) {
            width: 127px !important;
        }

        &:hover {
            transform: scale(1.14);
            box-shadow: 0px 6px 26px rgba(51, 51, 51, 0.3);
            @media (max-width: 520px) {
                transform: scale(1);
            }
        }
    }

    &__img {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .slider-arrows {
        margin-top: 50px;

        @media (max-width: 1020px) {
            margin-top: 30px;
        }
    }

}