.header {
    position: fixed;
    z-index: 99;
    top: 40px;
    left: 0;
    width: 100%;

    &__row {
        background: #FFFFFF;
        box-shadow: 0px 8px 24px rgb(51 51 51 / 10%);
        padding-left: 30px;
    }

    @media (max-width: 1023px) {
        height: 80px;
        top: 0;
        left: 0;
        transform: none;
        width: 100%;
        padding: 0;

        &__row{
            width: 100%;
            padding: 15px;
            height: 80px;
        }
    }

    .logo {
        width: 76px;
    }

    &__contacts {
        text-align: right;
        margin-right: 35px;

        @media (max-width: 1023px) {
            margin-right: 20px;
        }

        @media (max-width: 500px) {
            display: none;
        }

        .phone {
            display: flex;
            align-items: center;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: $black;
            margin-bottom: 3px;

            img {
                margin-right: 5px;
            }
        }

        .operating-mode {
            padding-left: 14px;
            font-weight: normal;
            font-size: 12px;
            line-height: 15px;
        }
    }

    .btn {
        padding: 32px 51px;
        position: relative;
        right: -1px;

        img {
            display: none;
        }

        @media (max-width: 1023px) {
            font-size: 0;
            padding: 16px;

            img {
                display: block;
            }
        }
    }

    .flex-right {
        @media (max-width: 1450px) {
            margin-left: auto;
        }
    }

}

.modal-open{
    .header{
        left: -9px;

        @media (max-width: 1450px) {
            left: 0;
        }
    }
}