.faq {
    .section-title {
        max-width: 540px;

        @media (max-width: 1020px) {
            max-width: 360px;
        }

        @media (max-width: 720px) {
            max-width: 100%;
            width: 100%;
            margin-bottom: 15px !important;
        }
    }

    .btn {
        padding: 20px 50px;

        img {
            margin-right: 14px;
        }

        @media (max-width: 720px) {
            width: 100%;
        }
    }

    .accordion {
        margin-top: 40px;

        @media (max-width: 720px) {
            margin-top: 20px;
        }

        &__item {
            margin-bottom: 10px;
            cursor: pointer;
        }

        &__tit {
            padding: 25px 30px;
            background: $light-gray;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media (max-width: 1250px) {
                padding: 13px 30px;
            }

            @media (max-width: 1020px) {
                padding: 15px;
            }

            h4 {
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: $black;
                width: calc(100% - 100px);
                @media (max-width: 720px) {
                    width: calc(100% - 41px);
                }
            }

            &.active {
                background: $green;

                h4 {
                    color: $white;
                }

                svg {
                    transform: rotate(180deg);
                }

                path {
                    fill: $white;
                }
            }

        }

        &__description {
            display: none;
            padding: 25px 60px;

            @media (max-width: 1250px) {
                padding: 25px 30px;
            }

            @media (max-width: 1020px) {
                padding: 20px 15px;
            }


            ul {
                li {
                    position: relative;
                    padding-left: 20px;
                    font-size: 14px;
                    line-height: 22px;
                    color: $black;
                    margin-bottom: 20px;

                    @media (max-width: 1250px) {
                        margin-bottom: 18px;
                    }

                    &::before {
                        content: '';
                        display: block;
                        width: 10px;
                        height: 10px;
                        background: $green;
                        position: absolute;
                        top: 5px;
                        left: 0;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            p {
                font-size: 14px;
                line-height: 22px;
                color: $black;
                margin: 20px 0;

                &:first-child {
                    margin-top: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}